@tailwind base;
@tailwind components;
@tailwind utilities;

.Background {
  background: linear-gradient(
    180deg,
    rgb(79, 4, 14) 4.22%,
    #1c0005,
    rgba(20, 8, 14, 0.99) 100%
  );
}

.paragraphs-slider {
  width: 100% !important;
  height: 190px !important;

  .carousel-slider {
    width: 100% !important;
    height: 190px !important;
  }

  .slide {
    width: 100% !important;
    height: 190px !important;
  }

  .control-arrow,
  .carousel-status {
    display: none !important;
  }

  .control-dots {
    @apply absolute right-0 -bottom-16;
    width: auto !important;

    transform: translateX(-50%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px !important;

    .dot {
      box-shadow: none !important;
      margin: 0px !important;
      @apply bg-white border ring-4 p-[5.5px];
      opacity: 1 !important;

      &.selected {
        @apply bg-transparent;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
